[submodule "llm-malware-poc"]
	path = llm-malware-poc
	url = https://github.com/jeqcho/llm-malware-poc.git
[submodule "avf"]
	path = avf
	url = https://github.com/Agamendon/avf
[submodule "llm-orchestrated-malware-defense"]
	path = llm-orchestrated-malware-defense
	url = https://github.com/enriquedlh97/llm-orchestrated-malware-defense
